
.categories {
    width: 75%;
    display: flex;
    // flex-wrap: nowrap;
    overflow-x: scroll;

    h2{
        margin-bottom: .7em;
    }

    .category-item {
        min-width: 200px;
        max-width: 200px;
        // background-color: var(--accent-color);
        border-radius: var(--border-radius);
        margin: 0 .4em;
        padding: 1em;
        flex-grow: 1;
        h2 {
            white-space: nowrap;
        }
    }
    .add-task-link{
        @include hover;
        white-space: nowrap;
        display: flex;
        align-items: center;
        padding: .5em 0;
        border-radius: var(--border-radius);
    }

    &>:first-child{
        margin-left: 0;
        padding-left: 0;
    }
}