
form {
    width: 100%;
    .controls {
        margin: 1em 0;
    }
    .message-error {
        color: var(--error);
    }
    .message-success {
        color: var(--success);
    }
}

label {
    color: var(--accent-color);
    margin-bottom: .5em;
    font-size: .8em;
}

input, textarea, select {
    @include border_bottom;
    background-color: var(--accent-color-input);
    padding: 7px 10px;
}

input, textarea, select {
    &:active, &:hover {
        @include hover_simplified;
    }
}

button{
    @include hover;
    padding: 7px 10px;
    border: none;
    background-color: transparent;
    border-radius: var(--border-radius);
    &.primary {
        @include hover(var(--hover-accent-color));
        background-color: var(--accent-color);
        color: var(--font-color-inverted);
    }
    &.secondary {
        border: 2px solid var(--accent-color); 
    }
}

