
.projects {
    width: 75%;
}

.projects-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .project-item {
        @include border_bottom;
        @include hover;
        // border-radius: var(--border-radius);
        padding: .5em .7em;
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        align-items: center;

        &>:first-child {
            flex-grow: 2;
        }
    }
}