
@mixin border_bottom {
    border: none;
    border-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid var(--accent-color);
    background-color: transparent;
}

@mixin hover_simplified($color: var(--highlight)) {
    background-color: $color;
}

@mixin hover($color: var(--highlight)) {
    &:hover {
        @include hover_simplified($color);
        cursor: pointer;
    }
}